body {
  font: 16px system-ui;
  color: #263f41;
  background: #fff9ed;
  margin: 0;
}
header {
  padding: 20px;
}
h1 {
  margin: 0;
}
label,
button {
  margin-right: 25px;
}
select,
button {
  padding: 10px;
}
main {
  height: 65vh;
  background: #dcebdc;
}
canvas {
  display: block;
}
